<div id="map"></div>
<script type="text/javascript" src="//www.turnjs.com/lib/turn.min.js "></script> 

<!-- <table>
    <thead>

        
     
    </thead>

    <tbody>
            
        <tr *ngFor = "let maphttpCity of maphttpsCity " >

            <td>                  
                
                <h2 *ngIf = "maphttpCity.alert == 0 ; then ifBlock else elseBlock">  </h2>
                
                <ng-template #ifBlock>
                    <h3 style="color: green;padding-left: 330px;font-size:25px;margin-top:20px"><b>You are in Safe Zone</b></h3>                    
                </ng-template> 
                
                <ng-template #elseBlock>
                    <h3 style="color: red;;padding-left: 330px;font-size:25px;margin-top:20px"><b>You are in Red Zone</b></h3>                    
                </ng-template>  
            </td>
        </tr>

    </tbody>

</table> -->